body{
  display: grid;
  grid-template-areas:
    "one two"
    "three four"
    "five five";
  padding: 10px;
  gap: 10px;
}

body > * {
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
}

section { grid-area: one;
        background-color: black;}
header { grid-area: two;
        background-color: black;
       }
nav {grid-area: three;}
main {grid-area: four;}
footer{grid-area: five;}

.Head1{
  font-family: Arial Narrow, sans-serif;
  font-size: 30px;
  color: white;
}

.Head2{
  font-family: Arial Narrow, sans-serif;
  color: white;
}
.taglist{
  font-family: Didot, serif;
  font-size:large;
  color: purple;
}

.attlist{
  font-family: Didot, serif;
  font-size:large;
  color: purple;
  
}
.page1list{
  color:rgb(165, 42, 42);
}
.footercolor{
  color:rgb(128, 0, 128);
}
.maincolor{
  color:rgb(176, 93, 8)
}

.homefooter{
  color:rgb(128, 0, 128);
}

.grid-container1{
  background-color:rgb(187, 204, 218) ;
}

.grid-container2{
  background-color: rgb(245, 204, 218);
}
.grid-con{
  background-color:rgb(245, 233, 148) ;
}
.grid-con2{
  background-color: rgb(153, 233, 148);
}
.grid-con3{
  background-color: rgb(105, 170, 249);
}